<% if @over_ten %>
  <%= link_to "Show Previous", "?m=all" %>
<% end %>
<div>
  <%= render partial: 'message', locals: {message: @messages} %>
</div>

<section>
  <h3>Send a message</h3>
  <%= form_for [@conversation, @message], remote: true, html: {class: 'ui reply form'} do |f| %>
  <ul>
    <li>
      <%= f.text_area :content, class: 'form-control' %>
    </li>
    <li>
      <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
    </li>
    <li>
     <%= f.submit 'Add Reply'%>
    </li>
  </ul>
<% end %>

<%= link_to 'Back to Inbox', conversations_path %>
</section>
<%= subscribe_to conversation_messages_path(@conversation) %>