<div class="ui middle aligned segment center aligned">
  <div class="profile-edit-column">
    <h2 class="ui black image header">
      <div class="content">
        Return User Sign In
      </div>
    </h2>
    <%= form_tag sessions_path, :class => "ui form" do %>
      <div class="ui stacked left aligned segment">
        <div class="field">
          <%= label_tag :email %>
          <div class="ui fluid left icon input">
            <i class="mail icon"></i>
            <%= text_field_tag :email %>
          </div>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <div class="ui fluid left icon input">
            <i class="lock icon"></i>
            <%= password_field_tag :password %>
          </div>
        </div>
        <div class="ui toggle checkbox">
          <%= check_box_tag :checkbox, name: "public" %>
          <label>
            <i class="icon play"></i>
            Perform
          </label>
        </div>
        <div class="sign-up-button">
          <%= submit_tag 'Login', :class => "ui large fluid basic gray submit button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>