<h2>Message to: <b><%= @conversation.user.full_name %></b></h2>
<div class="chatboxcontent">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
</div>

<div>
  <%= form_for([@conversation, Message.new], :remote => true,
  :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
    <%= f.text_area :content, "data-cid" => @conversation.id %>
    <div>    
      <%= f.submit "Send" %>
    </div>
  <% end %>
</div>
<%= subscribe_to "/messages/private/#{session[:username]}" %>