<div class="ui middle aligned segment center aligned">
  <div class="column">
    <div class="chatboxcontent">
      <% if @messages.any? %>
        <%= render partial: 'messages/_message', locals: {messages: @messages} %>
      <% end %>
    </div>
<h1>Send a message to: <%= @conversation.user.full_name %></h1>
    <div>
      <%= form_for([@conversation, Message.new], :remote => true, class: "ui large form", :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
        <div class="field">
          <%= f.text_area :content, "data-cid" => @conversation.id %>
        </div>
        <div>
          <%= f.submit "Send", class:"ui basic small green button" %>
        </div>
      <% end %>
    </div>
    <%= subscribe_to "/messages/private/#{session[:username]}" %>
  </div>
</div>