<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">
          <%= current_user.full_name %>
        </h3>
        <p>
          <b>Joined: </b><%= current_user.created_at.strftime("%B %Y") %>
        </p>
        <p>
          <b>Bio: </b>
          <% if current_user.bio %>
            <%= current_user.bio %>
          <% else %>
            tell us a little bit about yourself, we are curious!
          <% end %>
        </p>
        <div class="ui section divider"></div>
        <% if current_user.rating %>
          <div class="ui rating view" data-rating=<%= current_user.rating.to_s %> data-max-rating="5"></div>
        <% else %>
          <% "Mr. " +last_name(current_user.full_name)+ ", you have no ratings yet. " %>
        <% end %>
      <div class="row">
        <h4>Created gigs:</h4>
        <% current_user.gigs.each_with_index do |gig, index| %>
          <p><%= index + 1 %>. <%= link_to gig.title, gig_path(gig.id) %><br>
          created <%= time_ago_in_words(gig.created_at) %> ago</p>
        <% end %>
      </div>
      </div>
      <div class="six wide right floated center aligned column">
        <div class='middle aligned container'>
          <%= image_tag(current_user.avatar.url, width: '50%', height: '50%') %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <%= link_to "Update Profile", edit_user_path(current_user.id), class:"ui basic blue medium button" %>
      </div>
    </div>
  </div>
</div>