<div class="ui grid">
  <div class="computer only eight wide column">
    <div class="ui grid">
      <div class="six wide column">
        <%= image_tag(performer.avatar.url, width: '50%', height: '50%', class:"avatar_image") %>
      </div>
      <div class="ten wide column">
        <div class= "profile-basics">
          <h2 class="ui header">
            <%= performer.full_name %>
          </h2>
          <p>
            <span>Member since: </span><%= performer.created_at.strftime("%B %Y") %>
          </p>
          <p>
            <span>Instruments: </span>
            <% if performer.instruments %>
              <%= performer.instruments %>
            <% else %>
              None
            <% end %>
          </p>
          <p>
            <span>Affiliates: </span>
            <% if performer.affiliates %>
              <%= performer.affiliates %>
            <% else %>
              tell us a little bit about yourself, we are curious!
            <% end %>
          </p>
          <% if performer.rating %>
            <div class="ui rating view" data-rating=<%= performer.rating.to_s %> data-max-rating="5">
            </div>
          <% else %>
            <div class="ui rating view" data-rating="0" data-max-rating="5"></div>
          <% end %>
          <% if performer.id == current_user.id && current_user.class == performer.class %>
            <div class="center aligned column">
              <%= link_to "Update Profile", edit_performer_path(performer.id), class:"ui basic orange medium button" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="sixteen wide column">
        <h4>Biography: </h4>
        <p>
          <% if performer.bio.length > 1 %>
            <%= performer.bio %>
          <% else %>
            tell us a little bit about yourself, we are curious!
          <% end %>
        </p>
      </div>
      <div class="sixteen wide column">
        <h4>Performances: </h4>
        <% if @youtube_id %>
          <iframe width="420" height="315" class="youtube" src='https://www.youtube.com/embed/<%= @youtube_id %>' frameborder="0" allowfullscreen></iframe>
        <% else %>
          <p>This person does not have any performances posted</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mobile only sixteen wide column">
    <div class="ui stackable center aligned grid">
      <div class="six wide column">
        <%= image_tag(performer.avatar.url, width: '50%', height: '50%', class:"avatar_image") %>
      </div>
      <div class="ten wide column">
        <div class= "profile-basics">
          <h2 class="ui header">
            <%= performer.full_name %>
          </h2>
          <p>
            <span>Member since: </span><%= performer.created_at.strftime("%B %Y") %>
          </p>
          <p>
            <span>Instruments: </span>
            <% if performer.instruments %>
              <%= performer.instruments %>
            <% else %>
              Bananas
            <% end %>
          </p>
          <p>
            <span>Affiliates: </span>
            <% if performer.affiliates %>
              <%= performer.affiliates %>
            <% else %>
              tell us a little bit about yourself, we are curious!
            <% end %>
          </p>
          <% if performer.rating %>
            <div class="ui rating view" data-rating=<%= performer.rating.to_s %> data-max-rating="5">
            </div>
          <% else %>
            <div class="ui rating view" data-rating="0" data-max-rating="5"></div>
          <% end %>
          <% if performer.id == current_user.id && current_user.class == performer.class %>
            <div class="center aligned column">
              <%= link_to "Update Profile", edit_performer_path(performer.id), class:"ui basic orange medium button" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="sixteen wide column">
        <h4>Biography: </h4>
        <p>
          <% if performer.bio.length > 1 %>
            <%= performer.bio %>
          <% else %>
            tell us a little bit about yourself, we are curious!
          <% end %>
        </p>
      </div>
      <div class="sixteen wide column">
        <h4>Performances: </h4>
        <iframe width="420" height="315" class="youtube" src='https://www.youtube.com/embed/<%= @youtube_id %>' frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>