<div class="ui vertical stripe segment">
  <div class="ui left aligned grid container performer-grid">
    <div class="ten wide column">
      <% @gigs.each do |gig| %>
      <div class="row">
        <h4><%= link_to gig.title, gig_path(gig.id) %></h4>
        <p><%= gig.venue %>, <%= gig.city %>, <%= gig.state %></p>
        <p>$<%= gig.price %></p>
        <% if user && gig.user_id == current_user.id %>
          <%= link_to 'Edit', edit_gig_path(gig.id) %>
          <%= link_to 'Delete', '/gigs/' + gig.id.to_s, method: 'delete' %>
        <% end %>
      <div class="ui section divider"></div>
      </div>
      <% end %>
    </div>
     <div class="four wide olive column">
      <h4>Ads Go HERE</h4>
    </div>
  </div>
</div>